.main {
  position: absolute;
  top: 80px;
  left: 200px; /* aligns with sidebar */
  right: 0;
  bottom: 0;
  background-color: rgb(236, 236, 236);
  color: black;
  padding: 20px;
  overflow: auto;
  transition: left 0.3s ease;
}



.main.expanded {
  left: 60px;
}


.main div {
  background-color: white;
  border-radius: 10px;
}