.navbar {
    height: 80px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


.company {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    color: rgb(29, 161, 242);
}

.company-logo {
    font-size: 36px;
    margin-left: 15px;
}


.company-name {
    font-size: 24px;
}


.navbar-sections {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 20px;
    font-size: 24px;
  }
  
  .navbar-sections a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(29, 161, 242);
    transition: color 0.3s ease;
  }
  
  .navbar-sections a span {
    display: none;
    /* opacity: 0;
    font-size: 12px;
    transition: opacity 0.3s ease; */
  }
  
  .navbar-sections a:hover span {
    display: block;
    opacity: 1;
    font-size: 12px;
  }
  
