.sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    width: 200px;
    background-color: #F7F8F9;
    transition: width 0.3s ease;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

  
  /* Collapsed sidebar (icons only) */
.sidebar.collapsed {
    width: 60px;
}
  

.sections {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 20px;
}
  
  /* Section item */
.section {
    display: flex;
    align-items: top;
    gap: 15px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
  /* Hide text on collapse */
.sidebar.collapsed .section p {
    display: none;
}
  
  /* Center icons when sidebar is collapsed */
.sidebar.collapsed .section {
    justify-content: center;
}
  
  /* Hover effect */
.section:hover {
    background-color: white;
    color: rgb(29, 161, 242);
}

